@charset "UTF-8";
/* == END ==*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/*-----Продолжение урока 10------*/
.btn-xl, .btn-lg, .btn-md, .btn-sm {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.5px;
  color: #fafafb;
  background-color: #f07f2e;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
}
.btn-xl:hover, .btn-lg:hover, .btn-md:hover, .btn-sm:hover, .btn-xl:focus, .btn-lg:focus, .btn-md:focus, .btn-sm:focus {
  background-color: #f15c27;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);
}

.btn-sm {
  padding: 4px 8px;
  border-radius: 8px;
}

.btn-md {
  padding: 8px 12px;
  border-radius: 12px;
}

.btn-lg {
  padding: 12px 16px;
  border-radius: 16px;
}

.btn-xl {
  padding: 16px 20px;
  border-radius: 20px;
}